<p>component works!</p>
<!-- <p>demo3 works!</p> -->
<h1>Employee Details</h1>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
        </tr>
        <tr *ngFor="let item of list">
            <td>{{item.eid}}</td>
            <td>{{item.ename}}</td>
            <td>{{item.desig}}</td>
            <td>{{item.joindate|date}}</td>
            <td>{{item.salary}}</td>
        </tr>
    </table>
</div>
